@import 'includes/base/_variables';
@import 'includes/base/_utilities';
@import 'includes/_common';
@import 'includes/_content';

html {
    background-color: #eee;
    width: 100%;
    body, body.wp-autoresize, body#tinymce {
        background-color: $background-color;
        margin: 0 !important;
        padding: 15px 20px !important;
        max-width: 840px;
    }
}
